# Python
__pycache__/
*.pyc
*.pyo
.env
venv/

# Secrets
*.key
*.pem
vault-token.txt
*.secret

# Kubernetes secrets non scellés
*-secret.yaml
!sealed-*.yaml

# Docker
.docker/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
